<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register - Mocha Dreams</title>
    <link rel="stylesheet" th:href="@{/register.css}">
</head>
<body>
<div class="login-card">
    <h2>Create Account ☕</h2>
    <p>Join our coffee community</p>

    <div class="info-box">
        <strong class="info-title">💡 Admin Access</strong>
        <div class="info-text">Use email ending with @cshop.com to get administrator privileges!</div>
    </div>


    <form th:action="@{/auth/register}" th:object="${user}" method="post">
        <div>
            <label>Name</label>
            <input type="text" th:field="*{username}" placeholder="John Coffee" required>
        </div>

        <div>
            <label>Email</label>
            <input type="email" th:field="*{email}" placeholder="you@example.com" required>
        </div>

        <div>
            <label>Password</label>
            <input type="password" th:field="*{password}" placeholder="••••••••" required>
        </div>

        <div th:if="${error}" class="error-message" th:text="${error}"></div>

        <button type="submit">Sign up</button>
    </form>

    <p>Already have an account? <a th:href="@{/auth/login}">Login</a></p>
</div>
</body>
</html>
